<%= render "shared/header" %>

<%# 日記の概要 %>
<div class="diary-show">
  <div class="diary-box">
    <h2 class="title">
      <%= "#{@diary.title}" %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @diary.image ,class:"diary-box-img" %>
    </div>
    
    <%# ログインしているユーザーと投稿しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>
    <%if user_signed_in? && current_user.id == @diary.user_id %>
    <%= link_to "日記の編集", edit_diary_path(@diary.id), method: :get, class: "diary-red-btn" %>
    <p class="or-text">or</p>
    <%= link_to "削除", diary_path(@diary.id), method: :delete, class:"diary-destroy" %>
    <% end %>




    <%# //ログインしているユーザーと投稿しているユーザーが、同一人物の場合と同一人物ではない場合で、処理を分けましょう %>

    <div class="diary-explain-box">
      <span><%= @diary.title %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-diary">タイトル</th>
          <td class="detail-value"><%= @diary.title %></td>
        </tr>
        <tr>
          <th class="detail-diary">ニックネーム</th>
          <td class="detail-value"><%=(@diary.user).nickname  %></td>
        </tr>
        <tr>
          <th class="detail-diary">カテゴリー</th>
          <td class="detail-value"><%= "#{Category.find(@diary.category_id).name}" %></td>
        </tr>
        <tr>
          <th class="detail-diary">日記内容</th>
          <td class="detail-value"><%= @diary.text %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
    <%unless user_signed_in? && current_user.id == @diary.user_id then%>

    <div class='star-btn' id="favorite_<%= @diary.id %>">
  <%= render "favorites/favorite", diary: @diary %>
  <%else%>
  <div class="favorite-btn">
       <p><span>お気に入りされた数: </span><%= @diary.favorites.count %></p>
     </div>
</div>
    <% end %>
    </div>
  </div>
  <%# /日記の概要 %>


  <div class="comment-box">
  <% if user_signed_in? %>
      <%= form_with(model: [@diary, @comment], local: true) do |form| %>
    <%= form.text_area :content, class:"comment-text",placeholder:"コメントする"%>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
     <%= form.submit "コメントする" %>
     <% end %>
    <% end %>    
  </div>
  <div class="container">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
   </div>
</div>


<%= render "shared/footer" %>
