<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    子育ての悩みをみんなで共有する日記投稿アプリ
  </p>
  <h2 class='ad-footer-title'>
    今すぐ無料ダウンロード！
  </h2>
  <div class='store-btn'>
    <%= link_to image_tag("app-store.svg", class:"apple-btn"), "#" %>
    <%= link_to image_tag("google-play.png", class:"google-btn"), "#" %>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='kodomo-details'>
      <h2 class='footer-content-head'>KODOMOについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'KODOMO利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    
    <div class='kodomo-details'>
      <h2 class='footer-content-head'>KODOMOについて</h2>
      <ul>
        <li><%= link_to 'KODOMOガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'KODOMOロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%#= link_to image_tag("a", class:"logo-white"), "#" %>
  <p>© FURIMA</p>
</div>